@model ReadingsViewModel

<h1 class="page-title">Bible Readings</h1>
<p class="page-subtitle">@Model.DateString</p>

<ul class="reading-list" role="list">
    @foreach(var reading in Model.Readings)
    {
        <li class="reading-item">@await Html.PartialAsync("ReadingPartial", reading)</li>
    }
</ul>

<p class="all-readings-link-wrap">
    <a class="action-link" href="@Model.BuildAllReadingsLink()">Open All Readings</a>
</p>
