@model SettingsViewModel

@{
    ViewData["Title"] = "Settings";
}

<h1>Translations</h1>

<form class="container" asp-controller="Home" asp-action="SaveSettings" method="post">
    @if(Model.EnglishTranslations != null)
    {
        <div class="row">
            <div class="col">
                @await Html.PartialAsync("TranslationPartial", @Model.EnglishTranslations)
            </div>
        </div>
    }
    @if(Model.GermanTranslations != null)
    {
        <div class="row mt-2">
            <div class="col">
                @await Html.PartialAsync("TranslationPartial", @Model.GermanTranslations)
            </div>
        </div>
    }
    @if(Model.TimeZones != null)
    {
        <div class="row mt-2">
            <div class="col">
                <div>
                    <span>Time Zone:</span>
                    <br>
                    <select id="timezone" name="timezone" asp-for="SelectedTimeZone"
                        asp-items="@(new SelectList(@Model.TimeZones, "Id", "Name"))">
                    </select>
                </div>
            </div>
        </div>
    }

    <div class="row mt-3">
        <div class="col">
            <button type="Submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
